@charset "UTF-8";


body{
   background-image:url("web3.jpg");
   background-size:cover;
   background-repeat: no-repeat;
   background-position: center bottom;
   background-attachment: fixed;
}
body{
  color: #FFFFCC;
}
